[data]
    name = "{{ promptString "Your name" }}"
    email = "{{ promptString "Email" }}"
    timezone = "{{ promptString "Timezone (e.g. Asia/Yekaterinburg)" }}"
    work = {{ promptBool "Work machine" }}
    headless = {{ promptBool "Headless machine" }}
